version: '3.7'
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    group_add:
      - "122"
    networks:
      - internal
    ports:
      - 8096:8096
      - 8920:8920
      - 1900:1900
    environment:
      - VERSION=latest
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - ${HOME}/config:/config
      - ${HOME}/cache:/cahe
      - ${PATH_MEDIA}:/data 
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    networks:
      - internal
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - ${HOME}/sonarr/config:/config
      - ${PATH_MEDIA}:/data
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    networks:
      - internal
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - ${HOME}/radarr/config:/config
      - ${PATH_MEDIA}:/data
  qbittorrent:
    image: ghcr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
    volumes:
      - /path/to/appdata/config:/config
      - ${PATH_MEDIA}:/data
    networks:
      - internal
    ports:
      - 6881:6881
      - 6881:6881/udp
      - 8080:8080
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Paris
    networks:
      - internal
    ports:
      - 5055:5055
    volumes:
      - ${HOME}/jellyseerr/config:/app/config
    restart: unless-stopped
  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    networks:
      - internal
    ports:
      - "8191:8191"
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Paris
    volumes:
      - ${HOME}/prowlarr/config:/config
      - ${PATH_MEDIA}:/data
    networks:
      - internal
    ports:
      - 9696:9696
    restart: unless-stopped

networks:
  internal:
    driver: bridge

    